body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0 10px;
  text-decoration: none;
}

.avatar {
  height: 200px;
  border-radius: 100px;
  margin: 10px;
}

.login-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.login-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-box input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-box select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.login-box select:focus {
  outline: none;
  border-color: #63b2ac;
}

.login-box button {
  background-color: #63b2ac;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #569e9a;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #dad7d7;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0;
}
.nav li:first-child {
  padding-left: 0;
}
.profile ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  margin: 0;
}
.profile li:last-child {
  padding-right: 0;
}
.profile .user-info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
.profile .user-name {
  font-weight: bold;
}

.logout {
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header-nav .avatar {
  height: 30px;
  margin: 0 3px 0 0;
}
table td img.avatar {
  height: 50px;
}
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  margin: 20px 0 0;
}

.tabs button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #dad7d7;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.tabs button.active {
  background-color: #63b2ac;
  color: white;
}
.tabs button:hover {
  background-color: #f2f2f2;
  color: #63b2ac;
}

.poll-list-area {
  margin: 10px;
  border: 1px solid #dad7d7;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}
.poll-list-area .header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dad7d7;
}

.poll-list {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.poll-list-item {
  margin: 10px;
  padding: 10px 0 0;
  border: 1px solid #dad7d7;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 300px;
}

.poll-list-item .author {
  font-weight: bold;
}

.poll-list-item .btn-area {
  border-top: 1px solid #dad7d7;
  padding: 10px;
}
.poll-list-item .btn {
  background-color: white;
  color: #63b2ac;
  margin: 0;
  width: 100%;
  border-color: #63b2ac;
  border-radius: 4px;
}

.poll-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poll-options .option {
  margin: 10px;
  padding: 10px 0 0;
  border: 1px solid #dad7d7;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 50%;
}
.poll-options .option.voted {
  animation: highlight 1s ease-out;
  border: 3px solid #63b2ac;
}
@keyframes highlight {
  from {
    background-color: #63b2ac;
  }
  to {
    background-color: #e0f7fa;
  }
}
.poll-options .option.voted .option-label {
  font-weight: bold;
}
.poll-options .btn {
  background-color: #63b2ac;
  color: white;
  margin: 0;
  width: 100%;
}

.leaderboard {
  text-align: center;
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dad7d7;
}

.leaderboard th {
  background-color: #63b2ac;
  color: white;
  padding: 10px;
}

.leaderboard td {
  padding: 10px;
  border: 1px solid #dad7d7;
}

.leaderboard tr:hover {
  background-color: #f2f2f2;
}

.leaderboard th.left,
.leaderboard td.left {
  text-align: left;
}

.leaderboard th.right,
.leaderboard td.right {
  text-align: right;
}

.leaderboard table .user-info {
  display: flex;
  align-items: center;
}
.leaderboard table .user-name {
  font-weight: bold;
  font-size: 20px;
}
.leaderboard table .user-id {
  font-size: 16px;
  font-weight: lighter;
}

.new-poll {
  text-align: center;
}
.new-poll h2 {
  margin-bottom: 0;
}
.new-poll form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.new-poll form label {
  font-weight: bold;
  margin: 20px 0 5px;
}
.new-poll form input {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}
.new-poll form .btn {
  background-color: #63b2ac;
  color: white;
}
.new-poll form .btn[disabled] {
  background-color: #f2f2f2;
  color: #dad7d7;
  cursor: not-allowed;
}

.not-found {
  text-align: center;
  margin: 50px;
}
